<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

</head>
<style>
  div{ margin: 10px;}
  button{ margin: 10px;}
  .aaa{
    background-color: rgb(229, 255, 0);
  }
  .bbb{
    background-color: rgb(60, 255, 0);
  }
  tr {
  width: 20%;
  box-sizing: border-box; /* Subtracts both border-sides */
  
}
tbody {
  display: flex;
  flex-wrap: wrap;
}

tbody:not(:empty) {
  margin: 0 0 1px 1px;
}
</style>
<body>
    <div id="app">

<div class="panel panel-default">
   <div class="panel-heading">
         <strong>Kişiler</strong></div>
            <div class="row">
                 <div class="search-wrapper panel-heading col-sm-10">
                     <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
                </div>                        
            </div>
        <div class="table-responsive">
            <table v-if="resources.length" class="table">
                <thead>
                    <tr>
                         <th><myclock></myclock></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in resultQuery">
                        <td><my-component :title="item.kişi" :body="item.telefon" :adres="item.adres"></my-component></td> 
                    </tr>
                </tbody>
            </table>
        </div>
   </div> 

    </div>
</body>

<script type="module">
	//https://stackoverflow.com/questions/69287834/search-bar-vue-js
	import { createApp, ref ,defineComponent} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

	const app = createApp({
  data() {
    return {
        searchQuery: null,
        resources:[
    {
        kişi: "Ahmet Yılmaz",
        adres: "İstanbul, Türkiye",
        telefon: "+90 555 123 45 67"
    },
    {
        kişi: "Ayşe Kaya",
        adres: "Ankara, Türkiye",
        telefon: "+90 555 987 65 43"
    },
    {
        kişi: "Mehmet Demir",
        adres: "İzmir, Türkiye",
        telefon: "+90 555 234 56 78"
    },
    {
        kişi: "Fatma Çelik",
        adres: "Bursa, Türkiye",
        telefon: "+90 555 876 54 32"
    },
    {
        kişi: "Mustafa Öztürk",
        adres: "Adana, Türkiye",
        telefon: "+90 555 345 67 89"
    },
     {
        kişi: "Ahmet Öztürk",
        adres: "Adana, Türkiye",
        telefon: "+90 555 345 67 89"
    },
        {
        kişi: "Ahmet Cesur",
        adres: "Konya, Türkiye",
        telefon: "+90 555 345 67 89"
    },
        {
        kişi: "Ahmet Yılmaz",
        adres: "İstanbul, Türkiye",
        telefon: "+90 555 123 45 67"
    },
    {
        kişi: "Ayşe Kaya",
        adres: "Manisa, Türkiye",
        telefon: "+90 535 989 45 43"
    },
    {
        kişi: "Kenan Bulut",
        adres: "Van, Türkiye",
        telefon: "+90 555 234 56 78"
    },
    {
        kişi: "Bahadır Toprak",
        adres: "Trabzon, Türkiye",
        telefon: "+90 555 876 54 32"
    },
    {
        kişi: "Dilek Üstün",
        adres: "Samsun, Türkiye",
        telefon: "+90 555 345 67 89"
    },
     {
        kişi: "Fatma Demir",
        adres: "Edirne, Türkiye",
        telefon: "+90 555 345 67 89"
    },
        {
        kişi: "Zehra Polat",
        adres: "Konya, Türkiye",
        telefon: "+90 555 345 67 89"
    }
]
    };
  },
  computed: {
    resultQuery(){
      if(this.searchQuery){
      return this.resources.filter((item)=>{
        return this.searchQuery.toLowerCase().split(' ').every(v => 
        item.kişi.toLowerCase().includes(v) || item.adres.toLowerCase().includes(v) || item.telefon.toLowerCase().includes(v)
        )
      })
      }else{
        return this.resources;
      }
    }
  }
});
 //https://vuejs.org/guide/components/registration.html#global-registration
app.component('my-component', {
	 props: ['title','body','adres'],
	 template: `<article class="message"> 
                   <div class="has-background-success" class="message-header">{{ title }}</div>
                   <div class="has-background-grey-lighter" class="message-body">Telefon : {{ body }}</div>
                    <div class="has-background-grey-lighter" class="message-body">Adres : {{ adres }}</div>
                   
              </article>`
});
app.component('myclock', {
	 template: `
      <div class="level" >
        <div >
          <p class="heading">Tarih-Saat</p>
          <p class="title">{{myTime().toLocaleDateString()}} - {{myTime().getHours()}}:{{myTime().getMinutes()}}</p>
        </div>
      </div>
              `
              ,
    methods:{
      myTime(){
        const mytime=new Date();
        return mytime
      }
    }
})
const MyComponent = app.component('my-component') 
const MyClock = app.component('myclock')

app.mount('#app')


</script>
</html>
