<html>
    <head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/jsmind@0.7.1/style/jsmind.css" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jsmind@0.7.1/es6/jsmind.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="myjson-1.json"></script>
        <!--
            enable draggable node feature
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jsmind@0.7.1/es6/jsmind.draggable-node.js"></script>
        -->
    </head>
	<style>
		#jsmind_container1 {
                border: solid 1px #ccc;
                background: #f4f4f4;
            }
	</style>
    <body>
		<div id="app">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-item">
					<div class="navbar-item">
						<button class="bd-tw-button button" v-on:click='save_file'>save_file</button>
					</div>
					<div class="navbar-item">
						<button class="button is-primary" v-on:click='open_empty' >open_empty</button>	
					</div>
					
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">zoom</a>
						<div class="navbar-dropdown">
							
							<button class="navbar-item" id="zoom-in-button" style="width: 50px" v-on:click="zoomIn">+</button>
							<button class="navbar-item" id="zoom-in-button" style="width: 50px" v-on:click="zoomOut">-</button>
						</div>
					</div>
					<div class="navbar-item">
						<input class="input" id="file_input_nodearray" type="file" @change="open_file1"/>
						<input class="input" id="file_input_nodearray2" type="file" @change="open_file2"/>
					</div>
				</div>
			</nav>
			<div class="box">
				<input type="text" v-model="searchQuery" placeholder="Search" />
			node id:  <a>{{ deneme.id }} </a>
			node topic:  <a>{{ deneme.topic }}</a>
				<div v-for="zzz in resultQuery">{{zzz}}</div>
			</div>
			<div class="box">
				<div @click="nodeClick" id="jsmind_container1"></div>
			</div>

		</div>
    <script type="text/javascript">
		//http://hizzgdev.github.io/jsmind/example/2_features.html
			const app = Vue.createApp({
				data() {
					return {
						data1 : SMIND_DATA_SAMPLE,
						data2:mydata2,
						jm:null,
						file: null,
						deneme:"aaaa",
						searchQuery: null
						}
					},
				methods:{
					open_empty() {
							this.jm.show();
							console.log("open empty")
						},
					
					load_jsmind(data,container) {
								var options = {
									container: container,
									editable: true,
									theme: 'primary',
								};
								this.jm = new jsMind(options);
								this.jm.show(data);
									},
					save_file() {
					var mind_data = this.jm.get_data();
					var mind_name = mind_data.meta.name;
					var mind_str = jsMind.util.json.json2string(mind_data);
					jsMind.util.file.save(mind_str, 'text/jsmind', mind_name + '.json');
				},
				open_file1() {
					var file_input = document.getElementById('file_input_nodearray');
					var files = file_input.files;
						if (files.length > 0) {
							var file_data = files[0];
							const reader = new FileReader();
							reader.onload = (res) => {
							  var mind = jsMind.util.json.string2json(res.target.result);
							  this.data2=mind;
							};
							reader.readAsText(file_data);
							
		
							
						} 
					},
						open_file2() {
							var file_input = document.getElementById('file_input_nodearray2');
							var files = file_input.files;
							if (files.length > 0) {
								var file_data = files[0];
								jsMind.util.file.read(file_data, function (jsmind_data, jsmind_name) {
									var mind = jsMind.util.json.string2json(jsmind_data);
									this.data2=mind
							}.bind(this));// bind ilk defa kullandim
								
								}
							
							},
							zoomIn() {
								this.jm.view.zoom_in()
							},
							zoomOut() {
								this.jm.view.zoom_out()
							},
							 nodeClick () {
								 
								 const selectedNode = this.jm.get_selected_node();
								 if ( !!selectedNode ){
								 console.log(selectedNode);
								 this.deneme=selectedNode ;
					
								 }
								 }

					},
				mounted(){
					this.load_jsmind(this.data2,"jsmind_container1");
					},
				watch: {
					data2(newValue){
					console.log(newValue)
					this.jm.show(newValue)
					},
					deneme(newValue){console.log("sdfs")}
					},
				computed: {
					mynode(){
						return "gggg"
						this.deneme="ttt"
					},
				resultQuery(){
					  if(this.searchQuery){
						  console.log("search");
						  const gg=[this.data2.data.children];
						  return gg.filter(p => {
							  console.log("search filter");
							  console.log(gg[0]);
							  return gg;
							  
							  });
						
					  }
					}
  					}			
				});
		app.mount('#app')	
		
        </script>
    </body>
</html>
